<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicEightBallWithSets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D88262751BC3418B0064F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D882628E1BC3418B0064F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D88262991BC3418B0064F6D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
