<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StringCheese.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8F6D5731BBC568B00A836C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F6D58C1BBC568B00A836C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8F6D5971BBC568B00A836C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
